
* {
    box-sizing: border-box;
}


body {
    
    background-color: white;
   
    /* not a good position for the logo

    
    background-image: url("image/google\ earth.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;      */

   
}



ul {    /* to overflow the nav background 100 */
    
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;   
    
}


li {    /* horizontal position navigation bar */
    
    display: inline-flex;
   
}

li a {      /* navigation bar */
    
    /*display: inline-block;   Prob don't need this*/
    padding: 10px 10px 0px 5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none; 
    font-size: 20px;
    border: solid 2px transparent;
    color: #000;
    
}

li a:hover {    /* hover color effect */
    color: red;
}

header .navbk { /* top of the page navigation bar, background color */

    background-color: rgb(131, 206, 175);
    padding-bottom: 0;
    padding-top: 50px;
    width: 100%;
    left: 0;
    top:0;
    
}

.glogo {    /* Google log kinda centered lol */

    position: absolute;
    display: flex;
    top: 150px;
    left: 550px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.miclogo {  /* mic logo in the search bar */
    
    padding: 10px;
    display: flex;
}


.searchbar {    /* Search bar */
    
    position: absolute;
    left: 730px;
    bottom: 320px;
    margin-top: 10px;
    max-width: 100%;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    padding: 10px;
    background: rgb(158, 200, 235);
}

.searchbar input {  /*Search bar */
    
    width: 375px;
    padding: 12px;
    margin: 2px 10px 5px 5px;
    height: 25px;
    
}

::-webkit-input-placeholder {
    
    font-weight: bolder;
    font-size: 1em;
    font-style: italic;
    color: red;
}



.submitmod {    /* submit buttons */
    position: absolute;
    bottom: 300px;
    left: 650px;
    margin: 3px;

}

.submitmod input { /* submit buttons */
    text-align: center;
    display: inline-block;
    margin: 2px;;
    background-color: rgb(229, 226, 228);
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
   
    
}




.round {    /* Profile image */
   
    position: absolute;
    top: 50px;
    right: 0em;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 2px;
    border-radius: 30px;
}

.appcolor img:hover {   /* app icon */

    background-color:rgb(226, 114, 40);
    margin: 0; 

}

.appi { /* app icon*/
   
    margin-right: 15px;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 1px;
}

.container {
    
    /*display: flex;
    
    flex-direction: column;* i guss i don't need this class.*/
  

}

.container div {
                    /* keeping my search bar & submit button from collapsing*/
    
     display: flex; 
     margin: 0;
     
}



.box1 {     /* creating a couple of flexbox to contain the div & and for possible borders*/

     flex: 1px;
        
    
}

.box2 {

    flex:3px;
   
}

.box3 {

    flex:1px;
 

}



.footermod {    /* fotter bottom of the page */
   
    position: fixed;
    overflow: hidden;
    bottom:0;
    background-color: rgb(220, 238, 224);
    padding: 5px 12px;
    height: 2.5em;
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 700px) { /* responsive window, but my divs are gone */
    body {
        
      background-color: lightblue;
    }
    
    


}